{% extends 'base.html.twig' %}

{% block title %}CrowdIn{% endblock %}

{% block body %}
<h1>Bienvenue sur CrowdIn</h1>
<p1>Crowdin est un site de traduction communautaire.<br>
    L'idée du site est de mettre en relation des traducteurs (personnes parlant plusieurs langues) avec des personnes qui ont besoin de faire traduire leur projet dans une langue qu'ils ne maîtrisent pas.
    <br><br>Le site est divisé en 3 grandes sections :<br>
    Mon compte<br>
    Projets<br>
    Traducteur<br></p1><br>
<p1>Technologies serveur :<br>
    PHP 7 ou plus<br>
    Symfony 3 ou plus. L'utilisation d'une version antérieure à Symfony 3 entrainera l'invalidation du projet.
    MySQL<br>
    Pour lancer le projet, le choix est laissé entre le serveur Symfony intégré, un serveur web php (php -s), Apache2 ou Nginx
    Technologies client :<br>
    HTML / CSS / JavaScript<br>
    Les librairies JavaScript (JQuery, UnderScore, ChartJS, ...) sont autorisées<br>
    Les frameworks JavaScript (React, Angular, VueJS, ...) sont interdits<br>
    <br>Pour le projet, on vous demandera de :<br>
    Mettre en place des voters<br>
    Utiliser des repositories<br>
    Utiliser des managers<br>
    Utiliser des paginators<br>
    Avoir un code lisible et non redondant<br>
    <br>Il est interdit d'utiliser persit et flush dans le controller.<br>
    On ne vous demande pas d'avoir un site ultra performant, néanmoins les pages ne devront pas mettre plus de 2 secondes à charger.</p1>
{% endblock %}
