{% extends 'base.html.twig' %}
{% block body %}

    <h1>Modification d'une source manuelle :</h1>

    {{ form_start(form) }}

    {{ form_row(form.name, {'label': 'Titre :'}) }}
    {{ form_row(form.content, {'label': ' Contenu :'}) }}

    <button type="submit" class="btn btn-success">Enregistrer</button>
    {{ form_end(form) }}
{% endblock %}